header
    main#inicio
        .logo
            img(src="../images/logocompleto.png", alt="" width="50%")
        .header
            .comming
                h3.comming__title.animated.bounceInLeft Muy pronto el campo llegará a tus manos
        .content
            .promotion
                h4.promotion__text Promociones todos los días
                h2.promotion__question Te gustaría tener la huerta al alcance de tu mano?
                p.promotion__answer Disfrutarás de nuestra APP sin acceso a internet para realizar las compras de productos agrícolas con la mayor calidad. la frescura del campo, el más bajo precio de todo el mercado y sobre todo desde la comodidad de tu casa.
        .image
                //- img(src="../images/image.png", alt="" width="50%")
        .promo
            
            .call
                h3.call__text Comprarías en la #[spam.name Karreta] desde tu casa?
            .action
                .action__button.link 
                    .action__button--text
                        a(href='https://gmail.us20.list-manage.com/subscribe?u=21d40e75d11736adc0caeff00&id=b2dd40be9a' target="blank") Contamos contigo? 
                        //- #[i.icon.fa.fa-envelope] 
        .info
            .info__text
                .Powered by Creaando Studio
            .info__logo
                //- img(src="../images/IMAGOTIPO.png", alt="" width="50%")
                picture 
                    source(media="(max-width: 480px)", srcset="../images/IMAGOTIPO.png", width="50%")
                    img(src="../images/IMAGOTIPO.png", alt="" width="50%")
                    //- source(media="(min-width: 600)", srcset="../images/IMAGOTIPO.png", sizes="30%")
                    